<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow back-rojo">
    <!--Colocar dentro de nav class => "mb-3" margen de abajo-->
    <div class="container">
      <a class="navbar-brand txt-color-white display-flex" [routerLink]="['/']">
        <p class="txt-bold margin-auto" style="font-size: 25px;">gob.pe </p> <hr class="hr-vertical-white" /> <p class="margin-auto"> MINEDU EN LINEA</p>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="true" class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link txt-color-white txt-bold" [routerLink]="['/']"> Salir <i class="uil uil-signout" style="font-size: 20px"></i></a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
