<app-navbar></app-navbar>
<div class="container mt-5">
  <h5 class="txt-bold txt-color-white margin-horizontal-auto"
    style="background-color: #5c5b5f; padding: 0.3% 0; width: 30%; text-align: center;">Solicitud de Pase Laboral MINEDU
  </h5>
  <br />
  <form [formGroup]="formRequest">
    <div class="row pt-3 mb-3">
      <div class="col-4">
        <div class="form-check mt-3">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioProveedor">
          <label class="form-check-label" for="radioProveedor">
            Proveedor/Contratista
          </label>
        </div>
        <div class="form-check mt-3">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioVisitante">
          <label class="form-check-label" for="radioVisitante">
            Visitante
          </label>
        </div>
      </div>
      <div class="col-4">
        <label for="txtNameBusiness" class="form-label txt-bold">Nombre de la empresa o institución a la que
          pertenece:</label>
        <input type="text" name="txtNameBusiness" aria-describedby="helpNameBusiness" />
        <div id="helpNameBusiness" class="form-text" style="font-size: 12px">
          *Si no pertenece a ninguna empresa consigne “independiente”
        </div>
      </div>
      <div class="col-4">
        <label for="cmbSelectWeek" class="form-label">Semana: </label>
        <select formControlName="cmbWeekId" class="form-select" id="cmbSelectWeek">
          <option selected value=""> -- Seleccionar --</option>
          <option *ngFor="let fecha of fechaModel" [value]="fecha.id">{{fecha.value}}</option>
        </select>
      </div>
    </div>
    <div class="row pt-3">
      <label class="form-label">Seleccione la Oficina/Dirección responsable de su servicio o con la que va a mantener la
        reunión:</label>
        <div class="col-3">
          <select formControlName="cmbFirstId" class="form-select" id="cmbDependsNivel1" (change)="selectSecondLevel()">
            <option selected value=""> -- Seleccionar --</option>
            <option *ngFor="let first of firstLevelModel" [value]="first.id"> {{ first.value }} </option>
          </select>
        </div>
        <div class="col-3">
          <select formControlName="cmbSecondId" class="form-select" id="cmbDependsNivel2" (change)="selectThirdLevel()">
            <option value=""> -- Seleccionar --</option>
            <option *ngFor="let second of secondLevelModel" [value]="second.id"> {{ second.value }} </option>
          </select>
        </div>
        <div class="col-3">
          <select formControlName="cmbThirdId" class="form-select" id="cmbDependsNivel3">
            <option value=""> -- Seleccionar --</option>
            <option *ngFor="let third of thirdLevelModel" [value]="third.id"> {{ third.value }} </option>
          </select>
        </div>
    </div>
    <div class="row pt-4">
      <label class="form-label">Seleccione la sede y el (los) día(s) en los que asistirá:</label>
      <div class="col-3">
        <select class="form-select mt-2" id="cmbCampus">
          <option value="1" selected> Sede 1 </option>
        </select>
        <select class="form-select mt-3" id="cmbPavilion">
          <option value="1" selected> Piso/Pabellon </option>
        </select>
      </div>
      <div class="col-9">
        <table class="table table-responsive table-bordered">
          <!--table-striped-->
          <thead>
            <tr>
              <th style="width:17.2%;">Lunes</th>
              <th style="width:17.2%;">Martes</th>
              <th style="width:17.2%;">Miercoles</th>
              <th style="width:17.2%;">Jueves</th>
              <th style="width:17.2%;">Viernes</th>
              <th style="width:17.2%;">Sabado</th>
              <th style="width:17.2%;">Domingo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbLunes" id="cbLunes" value="option1" checked />
                </div>
              </th>
              <td>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbMartes" id="cbMartes" value="option2" />
                </div>
              </td>
              <td>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbMiercoles" id="cbMiercoles" value="option3" />
                </div>
              </td>
              <td>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbJueves" id="cbJueves" value="option4"
                    checked />
                </div>
              </td>
              <td>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbViernes" id="cbViernes" value="option5"
                    checked />
                </div>
              </td>
              <td>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbSabado" id="cbSabado" value="option6" />
                </div>
              </td>
              <td>
                <div class="form-check display-flex justify-content-center">
                  <input class="form-check-input" type="checkbox" name="cbDomingo" id="cbDomingo" value="option7" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p class="mt-3 mb-4">Si va a necesitar ingresar a más de una sede, haga clic <a href="#">aquí.</a></p>
    <div class="display-flex" style="margin: 0 30%;">
      <button style="padding: 0.5% 5%; font-size: 15px;" class="btn btn-danger display-flex margin-horizontal-auto txt-bold" [routerLink]="['/solicitud']"> Regresar </button>
      <button style="padding: 0.5% 5%; font-size: 15px;" type="button" class="btn btn-danger display-flex margin-horizontal-auto txt-bold"> Solicitar pase </button>
      </div>
  </form>
</div>


<!--MODAL ENVIO DE AUTORIZACION-->
<div class="modal fade" id="notiEnviaAutorizacion" data-bs-toggle="modal" tabindex="-1"
  aria-labelledby="notiEnviaAutorizacion" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel">
          SU SOLICITUD HA SIDO ENVIADA A SU DIRECCIÓN/OFICINA PARA AUTORIZACIÓN
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          Su solicitud ha sido remitida a su oficina/dirección para su
          autorización. Una vez sea autorizada, recibirá al correo electrónico
          consignado en el cuestionario de salud su código QR de ingreso.
        </label>
        <label class="txt-bold txt-justify">
          Si una vez autorizado no recibe el correo electrónico, le
          recomendamos revise la bandeja de correo no deseado o spam o
          realice la consulta de su pase laboral.
        </label>
      </div>
    </div>
  </div>
</div>
