<app-navbar></app-navbar>
<div class="mt-4" style="margin: 0 5%">
  <h5 class="txt-bold txt-color-white margin-horizontal-auto" style="background-color: #5c5b5f; padding: 0.3% 0; width: 30%; text-align: center;">Solicitud de Pase Laboral MINEDU</h5>
  <br />
  <!--  -->
  <div class="row pt-3">
    <div class="col-7">
      <div class="row">
        <div class="col-5 mb-3">
          <label for="cmbSelectWeek" class="form-label">Seleccionar: </label>
          <select class="form-select form-select-sm" id="cmbSelectWeek">
            <option value="1" selected> Semana: 20 al 26 de Diciembre </option>
            <option value="2"> Semana: 22 al 28 de abril </option>
            <option value="3"> Semana: 22 al 28 de abril </option>
            <option value="4"> Semana: 22 al 28 de abril </option>
          </select>
        </div>
        <div class="col-12 mb-1">
          <label>Oficina/Dirección usuario: <b style="color: #5c5b5f">Oficina de Bienestar Social y Relaciones Laboral</b></label>
        </div>
        <div class="row">
          <div class="col-5 mb-2">
            <label>Solicitudes de autorización pendientes <b class="txt-color-rojo">14</b></label>
          </div>
          <div class="col-5">
            <button style="font-size: 15px;" type="button" class="btn btn-danger display-flex margin-horizontal-auto txt-bold"> Seleccionar todas las solicitudes </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <table class="table table-bordered" style="font-size: 13px">
        <!--table-striped-->
        <thead style="text-align: center;">
          <tr>
            <th> Oficina/Direcciones </th>
            <th> Sede </th>
            <th> Aforo máximo </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> OBIR </td>
            <td> CENTRAL </td>
            <td> 4 </td>
          </tr>
          <tr>
            <td> OBIR </td>
            <td> POESíA </td>
            <td> 12 </td>
          </tr>
          <tr>
            <td> PERSONAL EXTERNO </td>
            <td> POESíA </td>
            <td> Disponible </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pt-4">
    <label class="form-label">Seleccionar:</label>
    <div class="col-12">
      <table class="table table-responsive table-bordered" style="font-size: 14px">
        <!--table-striped-->
        <thead style="text-align: center;">
          <tr>
            <th>N°</th>
            <th>Personal</th>
            <th>Órgano de 1° nivel</th>
            <th>Órgano de 2° nivel</th>
            <th>Órgano de 3° nivel</th>
            <th>Sedes de asistencia</th>
            <th>Apellidos</th>
            <th>Nombres completos</th>
            <th>Tipo de doc.</th>
            <th>N° de doc.</th>
            <th>Correo</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
            <th>D</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <th>PROPIO</th>
            <th>SG</th>
            <th>OGRH</th>
            <th>OBIR</th>
            <th>Todas las sedes</th>
            <th>Cuadro García</th>
            <th>Noemí</th>
            <th>CE</th>
            <th>001141914</th>
            <th>ncuadrado@minedu.gob.pe</th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbLunes" id="1_cbLunes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbMartes" id="1_radioMartes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbMiercoles" id="1_cbMiercoles" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbJueves" id="1_cbJueves" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbViernes" id="1_cbViernes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbSabado" id="1_cbSabado" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="1_cbDomingo" id="1_cbDomingo" value="option3" />
              </div>
            </th>
          </tr>
          <tr>
            <th>2</th>
            <th>PROPIO</th>
            <th>SG</th>
            <th>OGRH</th>
            <th>OBIR</th>
            <th>Poesía/Central</th>
            <th>Alcázar Bambarén</th>
            <th>Alejandra</th>
            <th>DNI</th>
            <th>44638868</th>
            <th>departamentomedico@minedu.gob.pe</th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbLunes" id="2_cbLunes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbMartes" id="2_cbMartes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbMiercoles" id="2_cbMiercoles" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbJueves" id="2_cbJueves" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbViernes" id="2_cbViernes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbSabado" id="2_cbSabado" value="option3">
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="2_cbDomingo" id="2_cbDomingo" value="option3">
              </div>
            </th>
          </tr>
          <tr>
            <th>3</th>
            <th>PROPIO</th>
            <th>SG</th>
            <th>OGRH</th>
            <th>OBIR</th>
            <th>Todas las sedes</th>
            <th>Cuadro García</th>
            <th>Heidy Susan</th>
            <th>DNI</th>
            <th>48285714</th>
            <th>obir-sst@minedu.gob.pe</th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbLunes" id="3_cbLunes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbMartes" id="3_cbMartes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbMiercoles" id="3_cbMiercoles" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbJueves" id="3_cbJueves" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbViernes" id="3_cbViernes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbSabado" id="3_cbSabado" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="3_cbDomingo" id="3_cbDomingo" value="option3" />
              </div>
            </th>
          </tr>
          <tr>
            <th>4</th>
            <th>EXTERNO</th>
            <th>SG</th>
            <th>OGRH</th>
            <th>OBIR</th>
            <th>Poesía</th>
            <th>Flores Ochoa</th>
            <th>Carmen</th>
            <th>DNI</th>
            <th>40085852</th>
            <th>cochoa@sanitas.com</th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbLunes" id="4_cbLunes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbMartes" id="4_cbMartes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbMiercoles" id="4_cbMiercoles" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbJueves" id="4_cbJueves" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbViernes" id="4_cbViernes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbSabado" id="4_cbSabado" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="4_cbDomingo" id="4_cbDomingo" value="option3" />
              </div>
            </th>
          </tr>
          <tr>
            <th>5</th>
            <th>EXTERNO</th>
            <th>SG</th>
            <th>OGRH</th>
            <th>OBIR</th>
            <th>Poesía</th>
            <th>Guzquiza Roe</th>
            <th>Shery</th>
            <th>DNI</th>
            <th>40035789</th>
            <th>Comercial@sanitas.com</th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbLunes" id="5_cbLunes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbMartes" id="5_cbMartes" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbMiercoles" id="5_cbMiercoles" value="option3" checked />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbJueves" id="5_cbJueves" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbViernes" id="5_cbViernes" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbSabado" id="5_cbSabado" value="option3" />
              </div>
            </th>
            <th>
              <div class="form-check display-flex justify-content-center">
                <input class="form-check-input" type="checkbox" name="5_cbDomingo" id="5_cbDomingo" value="option3" />
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="display-flex" style="margin: 0 20%">
    <button style="padding: 0.5% 5%; font-size: 15px;" type="button" class="btn btn-danger display-flex margin-horizontal-auto txt-bold"> Preaprobar solicitudes seleccionadas </button>
    <button style="padding: 0.5% 5%; font-size: 15px;" type="button" class="btn btn-secondary display-flex margin-horizontal-auto txt-bold"> Denegar solicitudes seleccionadas </button>
  </div>
  <div></div>
</div>

<div class="modal fade" id="notiEnviaAutorizacion" data-bs-toggle="modal" tabindex="-1" aria-labelledby="notiEnviaAutorizacion" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel">
          AFORO MÁXIMO SOBREPASADO
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          Las solicitudes de las siguientes oficinas superan sus aforos máximos
          permitidos. Le recomendamos priorizar las solicitudes y enviar la
          información nuevamente.
        </label>
        <div class="col-12">
          <table class="table table-bordered" style="font-size: 13px">
            <!--table-striped-->
            <thead style="text-align: center;">
              <tr>
                <th> Oficina/Direcciones </th>
                <th> Sede </th>
                <th> Aforo máximo </th>
                <th> Solicitudes recibidas </th>
                <th> Días Superados </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> OBIR </td>
                <td> CENTRAL </td>
                <td> 4 </td>
                <td class="txt-color-rojo"> 6 </td>
                <td class="txt-color-rojo"> Todos </td>
              </tr>
              <tr>
                <td> OBIR </td>
                <td> POESíA </td>
                <td> 10 </td>
                <td class="txt-color-rojo"> 12, 15 </td>
                <td class="txt-color-rojo"> Lunes y Martes </td>
              </tr>
              <tr>
                <td> OBIR </td>
                <td> POESíA </td>
                <td> 10 </td>
                <td class="txt-color-rojo"> 12, 15 </td>
                <td class="txt-color-rojo"> Lunes y Martes </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notiSolicitudesTramitadas" data-bs-toggle="modal" tabindex="-1" aria-labelledby="notiEnviaAutorizacion" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel">
          SUS SOLICITUDES PENDIENTES HAN SIDO TRAMITADAS
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          Sus autorizaciones han sido procesadas y remitidas al órgano
          inmediato superior para su aprobación. Una vez aprobadas, cada
          solicitud recibirá su código QR de ingreso en el correo electrónico
          consignado en el cuestionario de salud.
        </label>
        <label class="txt-bold txt-justify">
          Si una vez autorizado no recibe el correo electrónico, le
          recomendamos revisar su bandeja de correo no deseado o spam, o
          realice la consulta sobre su pase.
        </label>
      </div>
    </div>
  </div>
</div>
