<app-navbar></app-navbar>
<div>
  <div class="container mt-5">
    <h5 class="txt-bold txt-color-white margin-horizontal-auto" style="background-color: #5c5b5f; padding: 0.3% 0; width: 30%; text-align: center;">Ingreso a oficina/dirección </h5>
    <div style="margin: 3% 30%">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="sendLoginOffice()" [formGroup]="formLogin" class="mt-2 mb-3" style="margin: 0 5%;">
            <br />
            <div class="mb-3 form-floating">
              <input type="email" formControlName="email" class="form-control" id="txtUser" placeholder="Usuario" aria-describedby="userHelp">
              <label for="txtUser" class="form-label">Usuario </label>
            </div>
            <div class="mb-3 form-floating">
              <input type="password" formControlName="password" class="form-control" placeholder="Clave" id="txtPassword">
              <label for="txtPassword" class="form-label">Contraseña </label>
            </div>
            <p style="margin-top: 1rem">Por favor, introduce una respuesta en dígitos:</p>
            <div class="mb-4" style="padding: 25px 50px; background: #eeeeee; margin: 0 5%;">
              <img src="#" alt="Código de Verificación" />
              <input class="form-control" type="text" name="txtCodigoVerificacion" id="txtCodigoVerificacion" aria-describedby="Código de Verificación" />
            </div>
            <button [disabled]="formLogin.invalid" class="btn back-rojo txt-color-white" style="display: flex; margin: 0 auto;font-weight: bold;padding-left: 15%;padding-right: 15%;" >INGRESAR</button>
            <div *ngIf="errorSession">
              <label class="txt-color-rojo txt-bold">Ocurrio un problema con el usuario y contraseña </label>
            </div>
          </form>
          <div>
            <a href="#">¿Has olvidado tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
