<div>
  <div class="container">
    <div style="margin: 3% 30%">
      <div class="card">
        <div class="card-body">
          <p style="margin-top: 1rem">Bienvenido a los servicios digitales del Ministerio de Educación</p>
          <form action="/" method="post" class="mt-5 mb-5" style="margin: 0 5%;">
            <div class="mb-3 input-group">
              <!--<label for="txtUser" class="form-label">Usuario: </label>-->
              <input type="email" class="form-control" id="txtUser" placeholder="Usuario" aria-describedby="userHelp">
              <!--<div id="userHelp" class="form-text">Debe de colocar su usuario.</div>-->
            </div>
            <div class="mb-3 input-group">
              <!--<label for="txtPassword" class="form-label">Contraseña: </label>-->
              <!--<input type="password" class="form-control" id="txtPassword" placeholder="Clave">-->
              <input type="password" class="form-control" placeholder="Clave"  id="txtPassword">
              <!--<button class="btn btn-outline-secondary" type="button" id="btnShowPass"><span class="mdi mdi-eye-off-outline"></span></button>-->
              <!--<button class="btn btn-outline-secondary" type="button" id="btnShowPass"><span class="mdi mdi-eye-outline"></span></button>-->
            </div>
            <button type="submit" class="btn btn-primary" style="display: flex; margin: 0 auto;font-weight: bold;padding-left: 15%;padding-right: 15%;">INGRESAR</button>
          </form>
          <div class="mb-3">
            <a href="#">¿Es la primera vez que ingresa?, regístrese aquí</a>
          </div>
          <div>
            <a href="#">¿Olvidó su contraseña?</a>
          </div>
          <br />
          <div class="card">
            <div class="card-body">
              <p class="" style="font-weight: bold;">Mesa de Ayuda</p>
              <p>Si tiene problemas con la plataforma de autorizaciones y acceso, comunicarse a:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
