.background-login{
    background-color: #e2e1e1;
}
/*.background-login {
  background-color: #e2e1e1;
}*/
.txt-bold{
    font-weight: bold;
}
.txt-color-rojo {
  color: red !important;
}
.txt-color-white {
  color: white !important;
}
.txt-color-plomo {
  color: #6c757d !important;
}
.txt-color-azul {
  color: #0404ff !important;
}
.txt-justify{
    text-align: justify;
}
.txt-center{
    text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.back-rojo {
  background: #bf0909 !important;
}
.hr-vertical-white {
  height: 35px !important;
  width: 2px !important;
  text-align: center;
  position: relative;
  color: white;
  background: white;
  margin: auto 10px;
  border: 0;
  opacity: 1;
}
.border-horizontal-white {
  margin: 0;
  height: 4px !important;
  width: 50% !important;
  float: left;
  background: #ffffff;
}
.hr-horizontal-white {
  height: 4px !important;
  width: 70px !important;
  text-align: center;
  position: relative;
  background: #ffffff;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 30px;
  border: 0;
}
.margin-auto{
    margin: auto;
}
.margin-vertical-auto{
    margin: auto 0;
}
.margin-horizontal-auto {
  margin: 0 auto;
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.card-border-1 {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
}
.card-border-2 {
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 15px;
}
.card-border-1-bold {
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 15px;
}
.card-border-2-bold {
  border: 2px solid rgba(0,0,0,.4);
  border-radius: 15px;
}
.justify-content-center{
    justify-content: center;
}
button.disabled{
    opacity: .5;
}
