<app-navbar></app-navbar>
<div class="container mt-5">
  <h5 class="txt-bold txt-color-white margin-horizontal-auto" style="background-color: #5c5b5f; padding: 0.3% 0; width: 30%; text-align: center;">Solicitud de Pase Laboral MINEDU</h5>
  <br />
  <div class="row">
    <div class="col-10 margin-horizontal-auto">
      <div class="card card-border-2-bold">
        <div class="card-body">
          <p class="txt-justify">
            Si requiere ingresar a cualquiera de las sedes institucionales del Ministerio de Educación durante la semana, es necesario que
            presente <b>su pase laboral Minedu con su código QR al ingreso de nuestras instalaciones.</b> (Se considera que la semana inicia el lunes
            y culmina el domingo).
          </p>
          <p class="txt-justify">
            El pase laboral Minedu le autoriza a ingresar en los días y a las sedes que haya especificado en la solicitud durante la semana, siempre
            que cuente con <b>su cuestionario de salud covid-19 vigente y sin observaciones</b>,  y no se superen los aforos máximos autorizados por
            la entidad.
          </p>
          <p class="txt-justify mb-6">
            Si por algún motivo específico debe asistir a alguna sede adicional durante la semana o algún día no solicitado previamente, deberá
            solicitar la <a href="#" class="txt-bold">modificación de pase laboral Minedu</a>.
          </p>
          <p class="txt-bold mb-4">Seleccione:</p>
          <div class="mb-5">
            <div class="form-check mb-3">
              <input class="form-check-input" [(ngModel)]="radPersonaInterno" type="radio" name="radioPersonal" id="radioPersonalMinedu" value="1">
              <label class="form-check-label" for="radioPersonalMinedu">
                Personal Minedu (vínculo laboral y órdenes de servicio)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="radPersonaExterno" type="radio" name="radioPersonal" id="radioPersonalExterno" value="2">
              <label class="form-check-label" for="radioPersonalExterno">
                Personal externo (proveedores, contratistas y visitantes)
              </label>
            </div>
          </div>
          <button style="padding: 1% 5%; font-size: 15px;" type="button" class="btn btn-primary display-flex margin-horizontal-auto txt-bold" (click)="VerificarRequest()"> Continuar </button><!--[routerLink]="['/solicitud/personal-interno']"-->
        </div>
      </div>
    </div>
  </div>
</div>
