<app-navbar></app-navbar>
<!--REGISTRO-->
<div class="container mt-4">
  <h2 class="txt-bold">Registro de usuario</h2>
  <p class="txt-color-rojo">(*) Campos Obligatorios</p>
  <p>1. Datos de la persona</p>
  <div class="row mt-4">
    <div class="col-6 mb-5">
      <select class="form-select form-select-lg" aria-label="Tipo de Persona">
        <option value="" selected> Tipo de Persona </option>
        <option value="1">Persona Natura</option>
        <option value="2">Empresa</option>
        <option value="3">Persona Negocio</option>
      </select>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-6">
      <select class="form-select form-select-lg" aria-label="Tipo de Documento" disabled>
        <option value="" selected> Tipo de Documento </option>
        <option value="1">DNI</option>
        <option value="2">Carnet Extranjeria</option>
        <option value="3">Persona Negocio</option>
      </select>
    </div>
    <div class="col-6">
      <input class="form-control form-control-lg" type="text" placeholder="Numero de Documento" aria-label="Numero de Documento" disabled>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-6">
      <input class="form-control form-control-lg" type="text" placeholder="Nombres completos" aria-label="Numero de Documento">
    </div>
    <div class="col-6">
      <input class="form-control form-control-lg" type="text" placeholder="Apellidos completos" aria-label="Numero de Documento">
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-6">
      <input class="form-control form-control-lg" type="text" placeholder="Campo de Validación" aria-label="Numero de Documento">
    </div>
    <div class="col-6">
      <input class="form-control form-control-lg" type="text" placeholder="Correo electronico" aria-label="Numero de Documento">
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Validar</button>
  </div>
</div>

<!--POPUP-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">CONFIRMAR CÓDIGO DE ACTIVACIÓN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Se envió un código de activación al correo electrónico ingresado: <br />
          <b class="txt-color-azul">ministerio.educacion@gmail.com</b>
        </p>
        <div style="text-align: center; margin-top: -5%;">
          <i class="uil uil-envelope-upload" style="font-size: 100px"></i>
        </div>
        <div class="row">
          <p>INGRESE CÓDIGO</p>
          <div class="col-12">
            <input class="form-control form-control-sm" type="text">
          </div>
        </div>
        <div class="txt-center mt-4 mb-3">
          <p class="txt-color-rojo" style="font-size: 25px;">02:58</p>
          <a href="#">Reenviar código</a>
        </div>
      </div>
      <div class="modal-footer " style="align-items: center;">
        <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [routerLink]="['/']">Aceptar</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--<form (ngSubmit)="sendRegister()" [formGroup]="formRegister">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">CONFIRMAR CÓDIGO DE ACTIVACIÓN</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Se envió un código de activación al correo electrónico ingresado: <br />
            <b class="txt-color-azul">ministerio.educacion@gmail.com</b>
          </p>
          <div style="text-align: center; margin-top: -5%;">
            <i class="uil uil-envelope-upload" style="font-size: 100px"></i>
          </div>
          <div class="row">
            <p>INGRESE CÓDIGO</p>
            <div class="col-12">
              <input formControlName="codigo" class="form-control form-control-sm" id="txtCodigo" type="text">
            </div>
          </div>
          <div class="txt-center mt-4 mb-3">
            <p class="txt-color-rojo" style="font-size: 25px;">02:58</p>
            <a href="#">Reenviar código</a>
          </div>
        </div>
        <div class="modal-footer">-->
<!--  [routerLink]="['/solicitud']" -->
<!--<button class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</form>-->
<!--ERRORES-->
<!--CUESTIONARIO NO COMPLETADO-->
<div class="modal fade" id="notiCuestionarioNoCompletado" data-bs-toggle="modal" tabindex="-1" aria-labelledby="notiCuestionarioNoCompletado" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel">NO SE HA COMPLETADO EL CUESTIONARIO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          No se encuentra información en la base de datos del cuestionario de
          salud con el número y tipo de documento consignado. Completa el
          cuestionario y realiza nuevamente el trámite de solicitud.
        </label>
        <label class="txt-bold">Personal Minedu: <a href="https://ogrh-salud.minedu.gob.pe/">https://ogrh-salud.minedu.gob.pe/</a></label>
        <label class="txt-bold">Personal Externo: <a href="https://autorizacionsst-salud.minedu.gob.pe/">https://autorizacionsst-salud.minedu.gob.pe/</a></label>
      </div>
    </div>
  </div>
</div>

<!--SOLICITUD DENEGADA-->
<div class="modal fade" id="notiSolicitudDenegada" data-bs-toggle="modal" tabindex="-1" aria-labelledby="notiSolicitudDenegada" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel">SOLICITUD DE PASE DENEGADA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          Su cuestionario de salud se encuentra NO VIGENTE. Por favor,
          actualiza el cuestionario y realiza nuevamente el trámite de solicitud.
        </label>
        <label class="txt-bold">Personal Minedu: <a href="https://ogrh-salud.minedu.gob.pe/">https://ogrh-salud.minedu.gob.pe/</a></label>
        <label class="txt-bold">Personal Externo: <a href="https://autorizacionsst-salud.minedu.gob.pe/">https://autorizacionsst-salud.minedu.gob.pe/</a></label>
      </div>
    </div>
  </div>
</div>

<!--SOLICITUD DEL CUESTIONARIO PENDIENTE-->
<div class="modal fade" id="notiCuestionarioPendiente" data-bs-toggle="modal" tabindex="-1" aria-labelledby="noti" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel"> CUESTIONARIO DE SALUD ESPECÍFICO PENDIENTE </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          El cuestionario de salud específico se encuentra pendiente de
          completar. Por favor, actualiza el cuestionario y realiza nuevamente el
          trámite de solicitud.
        </label>
        <label class="txt-bold"><a href="https://ogrh-salud.especifico.minedu.gob.pe/">https://ogrh-salud.especifico.minedu.gob.pe/</a></label>
      </div>
    </div>
  </div>
</div>

<!--SOLICITUD CON OBSERVACIONES-->
<div class="modal fade" id="notiObservaciones" data-bs-toggle="modal" tabindex="-1" aria-labelledby="noti" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel"> SU CUESTIONARIO DE SALUD PRESENTA OBSERVACIONES </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="txt-bold"> NO PUEDE SOLICITAR PASE LABORAL</h3>
        <label class="txt-bold txt-justify">
          Para cualquier consulta o duda relacionada con el cuestionario,
          escribe a <b style="color: #0026ff;">consultascovid19@minedu.gob.pe.</b>
        </label>
      </div>
    </div>
  </div>
</div>

<!--SOLICITUD YA CUENTA CON UNA SOLICITUD PENDIENTE DE APROBACION O PASE LABORAL-->
<div class="modal fade" id="notiAprobacionPendiente" data-bs-toggle="modal" tabindex="-1" aria-labelledby="noti" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 2px solid #ce131f">
      <div class="modal-header" style="background: #ce131f">
        <h5 class="modal-title" id="staticBackdropLabel"> CUESTIONARIO DE SALUD ESPECÍFICO PENDIENTE </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="txt-bold txt-justify">
          El cuestionario de salud específico se encuentra pendiente de
          completar. Por favor, actualiza el cuestionario y realiza nuevamente el
          trámite de solicitud.
        </label>
        <label class="txt-bold"><a href="https://ogrh-salud.especifico.minedu.gob.pe/">https://ogrh-salud.especifico.minedu.gob.pe/</a></label>
      </div>
    </div>
  </div>
</div>
