<div class="pt-5">
  <!--<img src="../../assets/img/logo_minedu.png" alt="Alternate Text" style="width: 350px" />-->
  <p class="h3 mb-5" style="text-align: center; margin-top: 3%; font-weight: bold; color: #ce131f;">SOLICITUD DE PASE DE INGRESO QR <br /> PERSONAL MINEDU Y EXTERNOS</p>
  <div class="container mt-5 pt-4">
    <div class="row">
      <div class="col-5 offset-1">
        <div class="card card-border-2">
          <div class="card-body">
            <div style="text-align: center;">
              <span class="mdi mdi-clipboard-list-outline mdi-100px"></span>
            </div>
            <button style="padding: 20px 50px; font-size: 15px;" type="button" class="btn btn-danger txt-bold margin-horizontal-auto display-flex" [routerLink]="['/auth/login-page']">SOLICITAR PASE LABORAL MINEDU</button>
            <p class="txt-center mt-4 txt-color-plomo" style="font-size: 18px; margin: 0 12%;">Solicita o renueve tu pase de ingreso  al Minedu</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card" style="border: 2px solid rgba(0,0,0,.125);">
          <div class="card-body">
            <div style="text-align: center;">
              <span class="mdi mdi-card-search-outline mdi-100px"></span>
            </div>
            <button style="padding: 20px 50px; font-size: 15px;" type="button" class="btn btn-danger display-flex margin-horizontal-auto txt-bold" [routerLink]="['/auth/register-page']">BUSQUEDA DE PASE LABORAL MINEDU</button>
            <p class="mt-4 txt-center txt-color-plomo" style="font-size: 18px; margin: 0 12%;">Solicita o renueve tu pase de ingreso  al Minedu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .mdi-108px.mdi-set, .mdi-100px.mdi:before {
    font-size: 100px;
  }
</style>
