<div>
  <img src="../../assets/img/logo_minedu.png" alt="Alternate Text" style="width: 350px" />
  <p class="h3" style="text-align: center; margin-top: 3%; font-weight: bold; color: #ce131f;">SOLICITUD DE PASE DE INGRESO QR <br /> PERSONAL MINEDU Y EXTERNOS</p>
  <div class="container" style="margin-top: 5%;">
    <div class="row">
      <div class="col-5 offset-1">
        <div class="card" style="border: 2px solid rgba(0,0,0,.125);">
          <div class="card-body">
            <div style="text-align: center;">
              <span class="mdi mdi-clipboard-list-outline mdi-100px"></span>
            </div>
            <button style="display: flex; margin: 0 auto;padding: 20px 50px; font-size: 15px; font-weight: bold;" type="button" class="btn btn-danger" [routerLink]="['/auth/login-page']">SOLICITAR PASE LABORAL MINEDU</button>
            <P style="color: #6c757d; font-size: 18px; margin: 0 12%; text-align: center;margin-top: 5%;">Solicita o renueve tu pase de ingreso  al Minedu</P>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card" style="border: 2px solid rgba(0,0,0,.125);">
          <div class="card-body">
            <div style="text-align: center;">
              <span class="mdi mdi-card-search-outline mdi-100px"></span>
            </div>
            <button style="display: flex; margin: 0 auto;padding: 20px 50px; font-size: 15px; font-weight: bold;" type="button" class="btn btn-danger" [routerLink]="['/auth/register-page']">BUSQUEDA DE PASE LABORAL MINEDU</button>
            <P style="color: #6c757d; font-size: 18px; margin: 0 12%; text-align: center;margin-top: 5%;">Solicita o renueve tu pase de ingreso  al Minedu</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .mdi-108px.mdi-set, .mdi-100px.mdi:before {
    font-size: 100px;
  }
</style>
