<app-navbar></app-navbar>
<div>
  <div class="container">
    <div style="margin: 3% 30%">
      <div class="card">
        <div class="card-body">
          <p style="margin-top: 1rem">Bienvenido a los servicios digitales del Ministerio de Educación</p>
          <form (ngSubmit)="sendLogin()" [formGroup]="formLogin" class="mt-4 mb-3" style="margin: 0 5%;">
            <div class="mb-3 form-floating">
              <select formControlName="cmbTipoPersona" class="form-select mt-2" id="cmbTipoPersona">
                <option value="1"> SOLICITANTE </option>
                <option value="2"> APROBADOR </option>
              </select>
            </div>
            <div class="mb-3 form-floating">
              <input formControlName="email" type="email" class="form-control" id="txtUser" placeholder="Usuario" aria-describedby="userHelp">
              <label for="txtUser" class="form-label">Usuario </label>
              <!--<div id="userHelp" class="form-text">Debe de colocar su usuario.</div>-->
            </div>
            <div class="mb-3 form-floating">
              <!--<input type="password" class="form-control" id="txtPassword" placeholder="Clave">-->
              <input formControlName="password" type="password" class="form-control" placeholder="Clave" id="txtPassword">
              <label for="txtPassword" class="form-label">Contraseña </label>
              <!--<button class="btn btn-outline-secondary" type="button" id="btnShowPass"><span class="mdi mdi-eye-off-outline"></span></button>-->
              <!--<button class="btn btn-outline-secondary" type="button" id="btnShowPass"><span class="mdi mdi-eye-outline"></span></button>-->
            </div>
            <br />
            <div>
              <img src="#" alt="Código de verificación" />
            </div>
            <div class="mb-3 form-floating">
              <!--<input type="password" class="form-control" id="txtPassword" placeholder="Clave">-->
              <input type="text" class="form-control" placeholder="Codigo" id="txtCodigoVerificacion">
              <label for="txtCodigoVerificacion" class="form-label">Código de Verificación </label>
              <!--<button class="btn btn-outline-secondary" type="button" id="btnShowPass"><span class="mdi mdi-eye-off-outline"></span></button>-->
              <!--<button class="btn btn-outline-secondary" type="button" id="btnShowPass"><span class="mdi mdi-eye-outline"></span></button>-->
            </div>
            <button [disabled]="formLogin.invalid" class="btn btn-primary" style="display: flex; margin: 0 auto;font-weight: bold;padding-left: 15%;padding-right: 15%;">INGRESAR</button>
            <div *ngIf="errorSession">
              <label class="txt-color-rojo txt-bold">Ocurrio un problema con el usuario y contraseña </label>
            </div>
          </form>
          <div class="mb-3">
            <a [routerLink]="['/auth/register-page']">¿Es la primera vez que ingresa?, regístrese aquí</a>
          </div>
          <div>
            <a href="#">¿Olvidó su contraseña?</a>
          </div>
          <br />
          <div class="card">
            <div class="card-body">
              <p class="" style="font-weight: bold;">Mesa de Ayuda</p>
              <p>Si tiene problemas con la plataforma de autorizaciones y acceso, comunicarse a:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
